html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(217, 216, 216);
}
.newbook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#new-book-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    color: #4CAF50;
    font-size: 18px;
    margin: 75px;
    background-color: white;
    border: 2px solid #4CAF50;
    cursor: pointer;
}
#new-book-button:hover {
    background-color: #4CAF50;
    color: white;
}

#new-book-form {
      position: fixed;
      background-color: #4CAF50;
      padding: 30px;
      border-radius: 30px;
      width: 300px;
      height: auto;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
}
#new-book-form button {
   
}
#new-book-form input {
    border-radius: 22px;
    width: 300px;
    height: 22px;
    outline: none;
    border: none;
    padding: 4px;
}
#new-book-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}

#addBook {
    border: none;
    color: black;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 16px;
}
.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#book-container {
   display: grid;
   grid-template-columns: repeat(3, minmax(270px, 1fr));
   gap: 10px;
}

#close-form-btn{
    width: 30px;
    float: right;
    fill: white;
    cursor: pointer;
    margin-left: -20px;
}
header {
    height: 60px;
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
}
header p {
    font-size: 45px;
    margin: 60px;
}