html,
body {
  margin: 0;
  pad: 0;
}
.newbook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#new-book-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    margin: 75px;
}

#new-book-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    padding: 50px;
    border-radius: 30px;
}
#new-book-form input {
    display: flex;
}
#new-book-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#addBook {
    border: none;
    color: black;
    padding: 16px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}